package com.plugin.${javaPluginClass.toLowerCase()};

import com.dtolabs.rundeck.core.execution.workflow.steps.FailureReason


enum PluginFailureReason implements FailureReason {
    KeyStorageError,
    ResourceInfoError,
    APIRequestError
}