package com.plugin.${javaPluginClass.toLowerCase()};

import com.dtolabs.rundeck.core.plugins.Plugin
import com.dtolabs.rundeck.plugins.step.StepPlugin
import com.dtolabs.rundeck.core.execution.workflow.steps.StepException
import com.dtolabs.rundeck.core.plugins.configuration.StringRenderingConstants
import com.dtolabs.rundeck.plugins.ServiceNameConstants
import com.dtolabs.rundeck.plugins.step.PluginStepContext
import com.dtolabs.rundeck.plugins.descriptions.PluginDescription
import com.dtolabs.rundeck.plugins.descriptions.PluginProperty
import com.dtolabs.rundeck.plugins.descriptions.RenderingOption
import com.dtolabs.rundeck.plugins.descriptions.RenderingOptions
import com.dtolabs.rundeck.core.execution.ExecutionListener
import groovy.json.JsonBuilder
import groovy.json.JsonOutput
import org.rundeck.storage.api.StorageException
import static com.dtolabs.rundeck.core.plugins.configuration.StringRenderingConstants.GROUPING
import static com.dtolabs.rundeck.core.plugins.configuration.StringRenderingConstants.GROUP_NAME
//{{imports}}


@Plugin(name = PLUGIN_NAME, service = ServiceNameConstants.WorkflowStep)
@PluginDescription(title = PLUGIN_TITLE, description = PLUGIN_DESCRIPTION)
class ${javaPluginClass} implements StepPlugin {

    public static final String PLUGIN_NAME = "${sanitizedPluginName}"
    public static final String PLUGIN_TITLE = "${pluginName}"
    public static final String PLUGIN_DESCRIPTION = "Template Workflow Step plugin that makes a call to an API and retrieves a response."


    //{{pluginProperties}}

    @Override
    void executeStep(final PluginStepContext context,
                                final Map<String, Object> configuration) {

        //{{pluginBusinessLogic}}

    }
}